@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap')
*{
    padding: 0;
    margin: 0;
}
    

  body{
      font-family: 'poppins';
  }

   .cabecalho {
    background-color: #00ffc8;
    color: #e990ff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}
    
.cabecalho-imagem {
    width: 10%;
}
    
.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}

.escola-imagem {
    width: 25%;
}

.bts {
    background-image: linear-gradient(#ae6ee9, #652883);
    color: rgba(220, 130, 243, 0.507) ;
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

.bts-logo-bts-icon-trasparent-free-png.webp{
    padding:24px 0;
}

.idol{
    width: 35%;
}

.bts-titulo{
    text-align: center;
    padding :50px 0;
}
